nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-left button {
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

nav .nav-middle {
  flex-grow: 1;
}

nav .nav-middle span {
  margin-left: 150px;
  font-size: 2em;
}

nav .nav-right i {
  font-size: 1.5em;
  margin-right: 10px;
}